@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply bg-zinc-900 h-full overflow-x-hidden;
}

#__next {
  @apply h-full;
}

html {
  @apply h-full;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #D91921 #18181B;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  width: 10px;
  width: 10px;
}
*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #18181B;
}

*::-webkit-scrollbar-track:hover {
  background-color: #474750;
}

*::-webkit-scrollbar-track:active {
  background-color: #474750;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #D91921;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #FF4462;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #FF4462;
}
